body {
    background-color: black;
    color: white;
}

a {
    color: lightblue;
}

.myworkdiv {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#contactdiv {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
}

.myworkspan {
    width: 350px;
    word-wrap: break-word;
    text-align: center;
}