body {
    background-color: black;
    color: white;
    margin: 20px;
    font-family: monospace;
    line-height: 1.5;
}

a {
    color: lightblue;
}

.projectsdiv {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contactdiv {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
}

.projectsspan {
    width: 350px;
    word-wrap: break-word;
    text-align: center;
}